<header class="container">
    <h1>Balance Transfer</h1>

    <a href="/home">Home</a>
    &bull;
    <a href="/transaction">History</a>
    &bull;
    <a href="https://github.com/hyperledger/fabric-samples/tree/release-1.4/balance-transfer">About</a>
&bull;
    
</header>