<div class="container">
	<form action="/transfer" method="POST" class="form ">
		<div class="form-group">
			<label>Sender</label>
			<select class="form-control" aria-placeholder="select" name="sender">
				<option>a</option>
				<option>b</option>
			</select></div>

		<div class="form-group">
			<label>Receiver</label>
			<select class="form-control" name="receiver">
				<option>b</option>
				<option>a</option>
			</select>
		</div>

		<div class="form-group">
			<label>Amount</label>
			<input type="number" min="1" name="amount" required class="form-control">
		</div>

			<div class="form-group">
			<label>Token</label>
			<input type="text" name="token" required class="form-control">


		</div>

		<button class="btn btn-primary center-block" id="mybtn" type="submit" class="btn btn-primary">Transfer</button>
		<div><label>{{result}}</label></div>

	</form>
</div>